@import url('https://fonts.googleapis.com/css?family=Roboto');

#contenido{
	padding-left: 0px;
padding-right: 0px;

}

#limitt{
padding-left: 60px;
    padding-top: 30px;
padding-right: 10px;

}

#contenido #limitt .container-fluid h1{
 font-weight: bold;
}

.general{
padding-top: 87px;
color: rgb(133, 133, 133);
padding-left: 0px;
padding-right: 0px;	
}

#navizq{
background-color: white;
position: fixed;
padding-left: 0px;
padding-right: 0px;

}

.general #navizq ul .default{
background-color: rgb(25, 148, 168); 
color: white	;
}

.lengs{
	background-color: rgb(245, 246, 248);
}

.lengs .horizontal li a{
	font-size: 22px;
}

.btncopy{
background-color: black;
color: white;	
}

#java, #ruby, #paython{
	display: none;
}

.mercpag{
	color: rgb(12, 42, 89);
}

.down, .divcomp{
	background-color: rgb(245, 246, 248);
}

.img-responsive{
	margin-top: 197px;
}

.components{
	color: black;
}

.comp-title{
	font-size: 21px;
}