@font-face {
  font-family: 'poppins-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/overlock-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins'), local('Poppins-Regular'),
       url('fonts/overlock-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/overlock-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/overlock-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/overlock-v7-latin-regular.svg#Overlock') format('svg'); /* Legacy iOS */
}

body {
	font-family: 'poppins', sans-serif;
	font-weight: normal;
    overflow-x: initial;
}
h1, h2, h3, h4, h5 {
	color: #e2251c;
	font-family: 'poppins', sans-serif;
	font-weight: 600;
}
h1 {
    font-weight: 400;
    margin: 10px 0;
}

/* a:hover {
	background-color: #e2251c;
	color: #e0dcdc;
	
} */

/* .sidebar {
	display: block !important;
} */

.submenu li a:hover{
	background-color: #e2251c !important;
	color: #fff !important;
}
 
.btn-custom {
	background: none;
	border: none;
	color: #fff;	
	font-size: 2em;
	padding:0
}
.btn-custom.alt {
	color: #e2251c;
	padding: 10px;
}
#header{
    background-color: #eeeeee;
    padding: 50px;
    height: 250px;
}
#header .row {
	margin: 0;
}
#header .row:first-of-type {
	display: flex;
}
#header .row div:first-of-type {
	display: none
}
#header .row:nth-of-type(2) > div {
	display: inline-block;
}
#header .row:nth-of-type(2) > div:nth-of-type(2) {
	color: #000;
	margin-left: 15px;
	vertical-align: middle;
}
#header .row:nth-of-type(2) > div:nth-of-type(2) > p:first-of-type {
	font-size: 1.3em;
	margin-bottom: 0
}
#header .row:nth-of-type(2) > div:nth-of-type(2) > p:last-of-type {
	font-size: 14px;
	margin-bottom: 0
}
#header .row > ul {
	display: inline-block;
	margin: 0 6% 0 0;
	padding: 0;
	vertical-align: bottom;
	align-self: flex-end;
	margin-left: auto;
}
#header .row > ul > li {
	list-style: none;
	color: #000;
	display: inline-block;
	font-size: 1.1em;
	position: relative;
}
#header .row > ul > li:nth-of-type(3) {
	padding: 0 80px;
}
#header .row > ul > li:nth-of-type(2) {
	padding-left: 22px;
}
#header .row > ul > li > a > img {
	width: 1.4em;
}
#header .row > ul > li > ul {
	border-radius: 5px;
	background-color: white;
    box-shadow: 0 0 1em #4c4c4b;
    color: #666666;
    display: none;
    overflow: hidden;
	position: absolute;
	z-index: 100000;
}
#header .row > ul > li > ul > li {
	overflow: hidden;
}
#header .row > ul > li > ul > li > a {
    color: #666666;
    display: block;
}
#header .row > ul > li > ul > li > a:hover {
	color: #fff;
	background: #e2251c;
}
#logo_brinks {
	display: inline-block;
    width:200px;
}
#img_user {
    width: 60px;
    height: 60px;
    background-color: #e3e7ea;
}
#language {
    color: #000!important;
    cursor: pointer;
}

.container-fluid{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.parent {
    color: #e2251c;
    font-size: 17px;
    padding: 15px 0 15px 35px;
}

.submenu_parent {
    list-style: none;
    font-size: 16px;
}

.submenu_parent a {
    color: black;
	padding: 0 0 10px 65px;
	margin-right: -30%;
}

.active > a {
    background-color: transparent!important;
    color: #e2251c!important;
}

#contenido {
    border-radius: 20px;
    color: #666666;
    padding: 15px;
    /* margin-left: 4%; */
    /*top: 20%;*/
    top: 150px;
    background-color: white;
    box-shadow: 0 0 1em #4c4c4b;
    position: absolute;
    /* bottom: 0px; */
    left: 20%;
}
#contenido form {
	max-width: inherit;
}
#contenido form .row {
	margin: 0;
}
#contenido .card {
	border-radius: 20px;
	border: 2px solid #e2251c;
	color: #e2251c;
	padding: 15px 15px;
	text-align: center;
	cursor: pointer;
	height: 170px;
	/* margin-left: -15px; */
    margin-right: -15px; 
}
#contenido .card.alt a:hover{
	color: #fff;
}
#contenido .card.alt {
	background: #e2251c;
	color: #fff;
	cursor: pointer;
    margin-right: -15px;
}
#contenido .card .card-header {
	margin-bottom: 15px;
}
#contenido .card .card-header figure i{
	margin-top: 12px;
}
#contenido .card .card-body {
	text-transform: uppercase;
}
#contenido .card .card-header figure {
	background: #e2251c;
	border-radius: 60px;
	color: #fff;
	font-size: 3em;
	height: 70px;
	left: 45px;
	margin: 0 auto;
	vertical-align: middle;
	width: 70px
}
#contenido .card.alt .card-header figure {
	background: #fff;
	color: #e2251c;
}
#contenido .card .card-body p:last-of-type {
	margin-bottom: 0;
	width: 90%;
    margin-left: 15px;
}

#contenido #divtable #canvas-holder{
	position: absolute;
    bottom: 0;
}

#contenido #divtable .transactions-stats{
	left: 75%;
}

#contenido .distmap canvas {
	width: 100% !important
}
#contenido .load-bar {
	background: #dbdbdb;
	height: 15px;
	margin-bottom: 10px
}
#contenido .load-bar div {
	background: #e2251c;
	height: 100%
}
#contenido .number-transactions * {
	display: inline-block;
	vertical-align: middle;
}
#contenido .number-transactions h2 {
	color: #666666;
	font-size: 3.5em;
	margin: 0;
}
#contenido .number-transactions i {
	color: #e2251c;
	font-size: 2em;
	margin-right: 8px
}
#contenido .section-title {
	color: #e2251c;
	font-weight: 300;
	font-size: 2.5em;
	margin-top: 30px;
	text-transform: uppercase;
}
#contenido .section-title span {
	font-weight: 600;
}
#contenido > div > .h4_index{
	padding-left: 30px !important;
}
#contenido > div > .p_index{
	padding-left: 30px !important;
}
#contenido .section-text {
	font-size: 1.3em;
	padding-left: 15px;
	/* text-transform: uppercase;*/
}
#contenido .transactions-menu ul {
	border-bottom: 1px solid #999;
	display: table;
	padding: 0 30px;
	width: 100%;
}
#contenido .transactions-menu ul li {
	color: #e2251c;
	display: table-cell;
	list-style: transparent;
	padding-top: 10px;
	position: relative;
	text-transform: uppercase;
}
#contenido .transactions-menu ul li:first-of-type {
	width: 60%;
}
#contenido .transactions-menu ul li:not(:first-of-type) {
	margin-right: 30px;
	padding-bottom: 8px;
	text-align: center;
}
#contenido .transactions-menu ul li a {
	color: #999
}
#contenido .transactions-menu .active a {
	color: #999 !important;
}
#contenido .transactions-menu .active::after {
	content: '';
	background: #e2251c;
	bottom: -2px;
	height: 3px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1
}
#contenido .transactions-stats h5 {
	font-weight: 600
}
#contenido .transactions-stats p {
	margin: 0;
}

#contenido .button-circle {
	display: inline-block;
	max-width: 80px;
	vertical-align: top;
	margin-right: 8%;
	cursor: pointer;
}

#contenido .button-circle div {
    padding: 10px;
    border: 2px solid #646464;
	border-radius: 30px;
	max-width: 56px;
	margin: 0 auto;
}

#contenido .button-circle span {
	font-size: 12px;
	text-align: center;
	width: 140%;
	display: block;
	color: #646464;
	margin-left: -10px;
}

#contenido .border-div {
	border-bottom: 8px solid #646464;
	border-right: 8px solid #646464;
	border-left: 2px solid #f1f1f1;
	border-top: 2px solid #f1f1f1;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-top: 10px;
}

#contenido .textdiv {
	color: #615e5e;
	font-family: 'poppins', sans-serif;
}

#contenido .textdiv div label{
	text-align: left;
}

#contenido .img-calidad {
	color: #367af8 !important;
}

#contenido .div-calidad {
	border: 2px solid #367af8 !important;
}

#contenido .span-medalla {
	color: #367af8 !important;
}

#contenido .div-table {
	background-color: #f1f0f0;
	margin: 5px;
	padding: 15px;
	min-height: 130px;
}

#contenido .input-dates {
	width: 80%;
	border-radius: 10px	;
	min-height: 40px;
	background-color: white;
	margin-bottom: 10px;
}

#contenido .input-pencils {
	width: 25px;
	border: none;
	vertical-align: top;
}

/* #contenido .label-dates {
	color: #0072bc;
} */

#contenido .img-circle {
	width: 70px;
}

#contenido #divsup{
	display: flex;
    width: 100%;
}

#contenido #divsup div p{	
	color: #e2251c;
}

#contenido #divsup div h2{	
	text-align: center;
	font-size: 30px;
}

#contenido #divsup div h2 img{	
	width: 32px;
}

#contenido #divsup div:not(:last-of-type) h2 img{	
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
}

#contenido #divsup div{	
	border-radius: 10px;
	margin-right: 5px;
}

#contenido #divsup #notrans{
	border: 1px solid;
	text-align: center;
	padding: 10px;
}

#contenido #divsup #noval{
	border: 1px solid;
	text-align: center;
	padding: 10px;
}

#contenido #divsup #cli{
	border: 1px solid;
	text-align: center;
	padding: 10px;
}

#contenido #notrans{
	border: 1px solid;
}

#contenido #theadid{
	color: #e2251c;
	background-color: #e0dcdc;
}

#contenido #listobuscar div{
	margin-bottom: 10px;
}

#contenido .number-transactions-responsive{
	display: none;
}

#contenido div #divleg {
    margin-left: 0px;
}

.boxcommerce {
    margin-top: 80px;
}

.boxcommerce .row .divcaja1{
	margin-left: 15px;
}

#firstsub div div div h5 a{
	color: #4ada0e;
}

.button-x{
	display: none;
}

#profile{
	display: none;
}

#tipretradio{
	width: 20px;
	min-height: 0px;
}

.margin-div{
	border: 1px solid #CCCCCC;
    margin: 5px;
    padding: 10px;
}

.margin-div b{
	color: #e2251c;
}

#selectdir{
	border-radius: 10px;
}

.parent span{
	display: none;
}

#table #theadid tr th{
	text-align: center;
}

#table #tbodyid tr th, #table #tbodyid tr td{
	text-align: center;
}

.dermargg a{
	color: #e2251c;
}

.mapadiv h5{
	margin-left: 15px;
}

#contenido #editp{
	margin-left: 0px;
	margin-right: 0px;
}

.label-datess{
	width: 40%;
}

.input-datess{
	width: 50%;
    border-radius: 0;
    min-height: 28px;
    background-color: white;
}

#blockone div div h5 a{
	color: #e2251c;
}

#blockone div div h5{
	margin-top: 0px;
}

#blockone div div b{
	color: #e2251c;
}

#blockone div .dermarg{
	text-align: right;
}

#blockone div .dermarg label{
	text-align: right;
}

#assetid{
	text-align: center;
	margin-top: -10px;
}

#divaid{
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	margin-top: -20px;
}

#listproducts{
	margin-top: 30px;
	margin-bottom: 20px;
}

.p-title{
	font-size: 18px;
}

.boxbig{
	background-color: #efefef;
	height: 220px;
}

.boxsmall1{
	background-color: #fff;
	margin-left: 15px;
    margin-top: 20px;
	width: 180px;
	height: 170px;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
}

.boxsmall1:hover{
	background-color: #106df0;
	color: #fff;
}

.boxsmall1 p{
	text-align: center;
}

.boxsmall2{
	background-color: #fff;
	margin-left: 15px;
    margin-top: 20px;
	width: 180px;
	height: 180px;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
}

.boxsmall2:hover{
	background-color: #106df0;
	color: #fff;
}

.boxsmall2 p{
	text-align: center;
}

.moneyblue1{
	width: 50px;
	margin-top: 25px;
    margin-left: 50px;
}

.moneyblue2{
	width: 50px;
	margin-top: 25px;
    margin-left: 50px;
}

.boxsmallcommerce{
	margin-left: 15px;
    margin-top: 20px;
	width: 280px;
	height: 180px;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.3);
}

.addaddress div input{
	margin-bottom: 8px;
}

.addaddress div #direccion{
	min-height: 40px;
}

.addaddress div #name_address{
	min-height: 40px;
}

.addaddress div #phone{
	min-height: 40px;
}

#div_Image:hover{
	border: 1px solid #00b152;
	cursor: pointer;

}

.css_Div_Img_Perfil{
	width: 60px;
	height: 60px;
	float: left;
	border-radius: 50%;
}

.css_Imagen_Usuario_Comercio{
	border-radius: 50%;
	height: 60px;
	width: 60px;
	border: 1px solid #000;
	background-color: #e3e7ea;
}

.css_Div_Text_FotoPerfil{
	width: 25%;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 10px;
    color: #e2251c;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}

.css_Div_Text_FotoPerfil:hover{	
	background-color: #ccc;
}

.css_Div_Text_Perfil{
	width: 300px;
	vertical-align: middle;
	margin-top: 18px;
	padding-left: 0;
	color: #e2251c;
}

.css_Lab_Tex_Perfil_Tl{
	font-weight: lighter;
	font-size: 15px;
	text-align: center;
	margin-left: 0px !important;
	padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}


.css_Tr_Perfil{
	height: 50px;
}

.css_Lab_Tex_Perfil{
	font-weight: lighter;
	font-size: 16px;
	letter-spacing: -1px;
}

.css_Div_Contenedor_Derecho{
	margin-top: 80px;
}

/* .css_Div_Botones_Edi_Cli{
	margin-left: 290px;
	margin-top: 230px;
}
 */

.css_Boton_Aceptar{
	width: 20%;
	padding-left: 15px;
	padding-right: 15px; 
	margin: 5px; 
	color: #fff; 
	background-color: #e2251c; 
	border-radius: 10px;
}

.css_Boton_Aceptar:hover{
	background-color: #454243; 
}

.css_Boton_Aceptar_box{
	width: 110%;
	padding-left: 15px;
	padding-right: 15px; 
	margin-top: 5px;
	color: #fff; 
	background-color: #e2251c; 
	border-radius: 10px;
}

.css_Boton_Aceptar_box:hover{
	background-color: #454243; 
}

.css_Boton_Cancelar{
	width: 20%;
	padding-left: 15px;
	padding-right: 15px; 
	margin: 5px; 
	color: #fff; 
	background-color: #454243; 
	border-radius: 10px;
}
.css_Boton_Cancelar:hover{
	background-color: #e2251c; 
}

.css_Boton_Cancelar_box{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px; 
	margin-top: 5px; 
	color: #fff; 
	background-color: #454243; 
	border-radius: 10px;
}
.css_Boton_Cancelar_box:hover{
	background-color: #e2251c; 
}

.div_botones_edit{
	text-align: center;
}

#div_ly_Cambiar_Imagen{
	
	display: none; 
	background-color: #fff; 
	position: fixed; 
	width:20%; 
	top:200px;
	border: 1px solid #ccc;
	height: 55%;
	border-radius: 15px;
	box-shadow: 0 0 1em #4c4c4b;
	text-align: center;

}

#div_ly_Cambiar_Imagen > div > div > input{
	border: 0px;
	margin-top: 20px;
}

#ly_Cambiar_Imagen{
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin-right: 0px;
	width: 100%;
	height: 100%;
	/*overflow:hidden;*/
	border-radius: 15px;
}

.css_Imagen_Perfil{
	border-radius: 50%;
	height: 130px;
	width: 130px;
	border: 1px solid #000;
	background-color: #e2251c;
}

.css_Tr_Perfil{
	height: 50px;
}

.css_Tabla_Soporte{
	border: none;
	width: 100%;
}

.css_Boton_Enviar{
	width: 10%;
	padding-left: 15px;
	padding-right: 15px;
	color: #fff; 
	background-color: #e2251c; 
	border-radius: 10px;
}

.div_edit_all div .row div label{
	margin-left: -15px;
}

.div_row_edit{
	margin-top: 20px !important;
}

.input_cancel{
	width: 20%;
    background-color: rgb(0, 94, 174);
    color: white;
}

.h4_edit{
	padding: 15px;
}

.h4_support{
	padding: 15px;
}

.box_boxs{
	padding-left: 30px;
}

.box_integrationdata{
	padding-left: 0px;
}

.txtarea_soporte{
	height: 200px !important;
    border-top: 2px solid #bdc3c7;
    border-left: 2px solid #bdc3c7;
    border-right: 2px solid #bdc3c7;
    border-radius: 10px;
}

.box_support_t{
	margin-left: -30px;
}

#divtable > table > tbody > tr > th > a{
	color: #0a5cae;
}

#divbackground > div > div{
	padding: 0px;
}

#divbackground > div > .col-md-2{
	text-align: right;
}

#divbackground > div > div > img{
	width: 300px;
}

#divbackground > div > div > b{
	margin-bottom: 10px;
    display: block;
}

#divbackground > div > div > b{
	margin-bottom: 10px;
    display: block;
}

#divbackground > div > div > p{
	margin: 0px;
}

#divbackground > div > #divtable{
	margin-top: 20px;
}

#divbackground > div > div > button{
	border-radius: 10px;
	padding-left: 30px;
    padding-right: 30px;
    font-size: 15px;
}

#divbackground > div > #mapadiv{
	margin-top: 25px;
}

#myModal > div > .box_light{
	margin-top: 10%;
    width: 30% !important;
    margin-left: 40%;
    border-radius: 10px;
    height: 135px;
}

#myModal > div > div > div > img{
	width: 50%;
    margin-top: 20px;
}

#myModal > div > div > .box_image_accept{
	text-align: right;
}

#div_ly_Cambiar_Imagen > div > div > p{
	font-size: 35px !important;
}

.div_cityclient > span > span > span {
	height: 40px !important;
	line-height: 40px !important;
	margin-bottom: 10px;
}

.div_cityclient > span > span > span > span{
	height: 40px !important;
	line-height: 40px !important;
}

.div_historyclient{
	border: 1px solid #a7a7a7;
	border-radius: 20px;
}

.div_historyclientuno{
	padding: 50px 0px;
}

.div_historyclientdos{
	border-right: 1px solid #a7a7a7;
	border-left: 1px solid #a7a7a7;
	padding: 50px 0px;
}

.div_historyclientdos > center > img{
	width: 10%;
}

.div_historyclienttres{
	padding-top: 50px;
	padding-bottom: 30px; 
}

.div_historyclienttres > center > img{
	width: 15%;
}

.status_cancel {
    color: : silver!important;
}

.div_detailReserveClient{
	border-left: 1px solid;
}

.div_detailReserveClientuno{
	margin-top: 5%;
	margin-bottom: 5%;
}

.div_detailReserveClientuno > div{
	text-align: center;
}

.p_indexclient{
	border: 2px solid #04B431;
    border-radius: 35px;
    padding: 2px;
    background: #D8D8D8;
    color: #04B431;
    width: 150px;
    text-align: center;
}

.div_indexclient{
	border: 1px solid silver;
    margin-top: 30px;
    border-radius: 35px;
}

.img_indexclient{
	margin-left: -31px;
    border-radius: 35px 0 0 35px;
    width: 280px;
    height: 265px;
}

.gestion{
    margin-left: 71.3%;
    margin-top: -5%;
    color: white;
    border-radius: 10px;
    padding: 5px;
    background: #f71e14;
}

.div_dateclient{
	text-align: center;
}

.divr{
	border-left: 1px solid silver;
    height: 183px;
    position: absolute;
    left: 50%;
    margin-top: -4%;
}

/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/
@media (max-width: 2560px) {
    /*.gestion{
        margin-top: -4%!important;
    }*/

    .divr{
        margin-top: -3%!important;
        height: 162px!important;
    }
    .divm{
        width: 114.5%!important;
        margin-left: -7%!important;
    }
}

@media (max-width: 1859px){
	.boxbig {
		height: 410px;
	}
}

@media (max-width: 1700px){
	.div_detailReserveClientuno > div > div > h5{
		font-size: 15px
	}

	.div_detailReserveClientuno > div > div > h3{
		font-size: 20px
	}
}

@media (max-width: 1440px){
	#contenido .card .card-body p:last-of-type{
		width: 106%;
    	margin-left: -5px;
	}

	.div_userrow{
		margin-top: -20px !important;
	}

	.div_user > p{
		width: 50%;
	}

	.div_detailReserveClientuno > div > div > h5{
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.div_detailReserveClientuno > div > div > h3{
		padding-top: 5px;
		padding-bottom: 5px;
	}

}

@media (max-width: 1308px) {
    .div_dateclient{
    	padding: 0px;
    }

    .div_detailReserveClientuno{
    	padding: 0px;
    }

    .div_detailReserveClientuno > div > div > h5{
		font-size: 12px
	}

	.div_detailReserveClientuno > div > div > h3{
		font-size: 18px
	}
}

@media (max-width: 1210px) {
    .gestion{
        margin-top: -5%!important;
    }
    .divr{
        margin-top: -4%!important;
        height: 160px!important;
    }
    .divm{
        width: 125%; 
        margin-left: -13%; 
        margin-top: -3%;;
    }
}

@media (max-width: 1079px){
	.boxbig {
		height: 600px;
	}
}

@media (max-width: 991px){
	
	h4 {
		font-size: 33px !important;
	}

	th, td {
		text-align: center;
	}

	.button-x {
		display: block
	}	

	.sidebar {
		display: none;
		background: #fff;
		height: 100vh;
		max-height: 100vh;
		overflow-y: scroll;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000000;
		padding: 0px;
	}

	.sidebar .parent {
		background: #e2251c;
		color: #fff;
		margin-bottom: 5px;
		position: relative;
		padding: 20px;
	}

	.sidebar .parent span {
		position: absolute;
		right: 20px;
	}

	.sidebar .submenu {
		display: none;
		margin: 0;
		padding: 0
	}

	.sidebar .submenu li {
		border-bottom: 1px solid #dbdbdb;
		margin: 0;
		padding: 0;
		height: auto;
	}

	.sidebar .submenu li a {
		display: block;
		padding: 20px
	}

	#contenido {
		border-radius: none;
		box-shadow: none;
		position: static;
		width: 100%
	}

	#contenido .section-title{
		text-align: center;
		padding: 0px;
		margin: 0px;
		font-size: 30px;
	}

	#contenido #divtable #canvas-holder{
		position: relative;
		bottom: 0%;
	}
	
	#contenido #divtable .transactions-stats{
		left: 0%;
	}

	#contenido .number-transactions{
		display: none;
	}

	#contenido .number-transactions-responsive{
		display: block;
		text-align: center;
		margin-top: 10%;
    	margin-bottom: 10%;
	}

	#contenido .number-transactions-responsive div h2 img{
		width: 32px;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		rotation: 90deg;
	}

	#contenido .transactions-menu ul li:first-of-type{
		display: none;
	}

	#contenido #divsup {
		display: block;
		margin-left: 0px;
		margin-right: 0px;
	}

	#contenido #divsup div{
		margin-right: 0px;
	}

	#contenido #divsup #notrans{
		margin-bottom: 5px;
		margin-left: 4px;
		width: 98%;
	}

	#contenido .textdiv div label{
		text-align: center;
	}

	#contenido div p{
		text-align: center;
	}

	#contenido > div > .h4_index{
		padding: 0px !important;
	}

	#contenido > div > .p_index{
		padding: 0px !important;
	}

	#header {
		height: auto;
		padding: 20px
	}

	#header .row:first-of-type {
		align-items: center;
	}

	#header .row:first-of-type > * {
		flex: 1 1
	}

	#header .row:first-of-type > div:first-of-type {
		display: block
	}

	#header .row:first-of-type > div:nth-of-type(2) {
		text-align: center
	}
	
	#header .row:first-of-type > div > a > img {
		width: 150px
	}

	#header .row > ul > li > a > img {
		width: 1.8em;
		margin-top: 15px;
	}

	#header .row:nth-of-type(2) {
		display: none
	}

	#header .row  ul {
		align-self: center;
		margin:0
	}

	#header .row  ul > li:last-of-type {
		width: 100%
	}
	
	#header .row  ul > li > a {
		float: right
	}

    #header .row > ul > li:not(:last-of-type) {
        display: none;
	}

	#profile {
		display:block;
		margin-bottom: 50px
	}
	
	#profile img {
		width: 100px
	}

	#profile p {
		margin-bottom: 0
	}

	#profile p b {
		font-weight: normal !important;
	}
	
	#profile p:nth-of-type(2) {
		font-size: 2.1em;
	}

	#profile p:nth-of-type(3) {
		font-size: 1.5em;
		margin-top: -10px
	}

	#profile p:nth-of-type(4) {
		font-weight: normal !important;
	}

	#profile p:nth-of-type(5) {
		font-weight: normal !important;
		text-transform: uppercase
	}

	.addaddress div input{
		width: 100%;
		margin-bottom: 10px;
		border-radius: 10px;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 10px;
	}

	#contenido .border-div{
		border-bottom: 3px solid #646464;
    	border-right: 3px solid #646464;
    	margin: 15px;
	}

	#contenido .img-circle{
		margin-bottom: 5px;
    	width: 60px;
	}

	#contenido .input-dates{
		width: 100%;
		border-radius: 10px;
		text-align: center;
	}

	#contenido .input-pencils{
		width: 8%;
	}

	#tbodyid tr td{
		width: 100%;
	}

	.tbody_integrationdata tr td{
		display: block;
		width: 65%;
	}

	#nav-sub ul li{
		display: inline-block;
		width: 100%;
		text-align: center;
		margin: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		border: 1px solid #CCCCCC;
		font-size: 15px;
	}

	.parent span{
		display: inline;
	}

	#contenido {
		padding-left: 0px;
		padding-right: 0px;
	}

	#contenido .section-text{
		text-align: center;
		font-size: 15px;
	}

	#contenido div #divleg {
		text-align: center;
	}

	#contenido div div{
		text-align: center;
	}

	#contenido div div div div{
		text-align: center;
	}

	#contenido div div div hr{
		display: none;
	}

	#retval{
		text-align: center;
	}

	#listproducts{
		margin-left: 0px;
		margin-top: 400px;
	}

	.register0{
		text-align: center;
	}

	.mapadiv h5 {
		margin-left: 0px;
	}

	.label-datess{
		width: 100%;
	}
	
	.input-datess{
		width: 90%;
		border-radius: 0;
		min-height: 28px;
		background-color: white;
	}

	#blockone div div h5{
		text-align: center;
	}

	#blockone div .dermarg label{
		text-align: center;
	}

	/* .tableproducts tr td:nth-child(2), .tableproducts tr th:nth-child(2){
		display:none;
	}

	.tableproducts tr td:nth-child(3), .tableproducts tr th:nth-child(3){
		display:none;
	} */

	#map{
		height: 250px !important;
	}

	#header .row:first-of-type{
		padding-bottom: 0px;
	}

	.boxsmall1 {
		width: 90%;
		height: 75px;
	}

	.boxsmall2 {
		width: 90%;
		height: 75px;
	}

	.moneyblue1{
		margin-left: -240px;
		margin-top: 15px;
	}

	.moneyblue2{
		margin-left: -240px;
		margin-top: 15px;
	}

	.boxbig{
		height: 690px;
	}

	.boxbig div div p{
		margin-top: -40px;
    	margin-left: 74px;
	}

	.boxsmallcommerce{
		margin-left: 0px;
		margin-top: 10px;
		width: 100%;
		height: 50%;
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	#contenido #divsup #noval{
		border: 1px solid;
		text-align: center;
		margin-bottom: 5px;
    	margin-left: 4px;
    	width: 98%;
	}
	
	#contenido #divsup #cli{
		border: 1px solid;
		text-align: center;
		margin-bottom: 5px;
    	margin-left: 4px;
    	width: 98%;
	}

	#contenido .card{
		padding: 10px 10px;
		width: 115%;
		margin-left: -12px;
	}

	/* #contenido .card .card-body p:last-of-type{
		width: 70%;
    	margin-left: 30px;
	} */

	/* .css_Div_Text_Perfil{
	width: 300px;
	vertical-align: middle;
	margin-top: -50px;
	padding-left: 0;
	position: absolute;
	left: 100px;
	
	} */

	.css_Div_Contenedor_Derecho{
		border-left: none;
		margin-top: 0px;
	}
	
	.boxcommerce {
	    margin-top: 40px;
	}

	.boxcommerce .row .divcaja1{
		margin-left: 0px;
	}

	.div_edit_all div .row div label{
		margin-left: 0px;
    	text-align: center;
	}

	.div_edit_all div{
		padding: 0px;
	}

	.div_edit_all > div > .row > div > label{
		margin-top: 10px;
	}

	.css_Boton_Aceptar{
		width: 100%;
		padding: 10px;
		color: #fff;
		margin: 0px;
		background-color: #e2251c; 
		border-radius: 10px;
		margin-top: 10px;
	}

	.css_Boton_Cancelar{
		width: 100%;
		padding: 10px;
		color: #fff;
		margin: 0px;
		background-color: #454243; 
		border-radius: 10px;
		margin-top: 10px;
	}

	.css_Div_Text_Perfil{
		width: 100%;
		vertical-align: middle;
		margin-top: 18px;
		padding-left: 15px;
		color: #e2251c;
	}

	.css_Lab_Tex_Perfil_Tl{
		margin-left: 0px !important;
	}

	.css_Imagen_Usuario_Comercio{
		height: 70px;
		width: 70px;
    	max-width: 70px;
	}

	.css_Div_Img_Perfil{
		width: 0px;
	    height: 70px;
	    min-width: 100%;
	    margin-top: 10px;
	    position: relative;
	    z-index: 1;
	}

	.div_row_edit{
		margin-top: 0px !important;
	}

	#div_ly_Cambiar_Imagen{
	
		display: none; 
		background-color: #fff; 
		position: fixed; 
		width:100%; 
		top: 40%;
		border: 1px solid #ccc;
		height: 58%;
		border-radius: 15px;
		overflow-y: scroll;

	}

	#div_Image:hover{
		border: 0px;
	}

	.input_cancel{
		margin-top: 12px;
	}

	.css_Boton_Enviar{
		width: 100%;
		margin-top: 10px;
    	padding: 10px;
	}

	.box_support div {
		padding: 0px;
	}

	.container{
		margin-top: 5%;
	}

	#nt > div > .pull-right{
		margin-top: 20%;
	}

	#vr > div > .pull-right{
		margin-top: 20%;
	}

	#cl > div > .pull-right{
		margin-top: 20%;
	}

	#div_box_blue{
		width: 90%;
    	margin-left: 2%;
    	margin-bottom: 2%;
    	margin-top: -8%;
	}

	#div_box_white{
		width: 90%;
    	margin-left: 2%;
	}

	#div_box_blue > div{
		padding: 25px !important;
	}

	#div_box_white > div{
		padding: 25px !important;
	}

	.box_boxs{
		padding-left: 15px;
	}

	.box_integrationdata{
		padding-left: 15px;
	}

	.box_integrationdata div{
		padding: 0px;
	}

	.table_integrationdata{
		display: block;
    	overflow-x: auto;
	}

	.box_support_t{
		margin-left: -30px;
    	margin-right: -30px;
	}

	#myModal > div > .box_light{
		margin-top: 10%;
	    width: 100% !important;
	    margin-left: 0%;
	    border-radius: 10px;
	    height: 100%;
	}

	#myModal > div > div > div > img{
		margin-top: 0px;
		width: 60px;
	}

	#myModal > div > div > .box_image_accept{
		text-align: center;
		margin-top: 30px;
    	margin-left: 30px;
	}

	#divbackground > div > div > img{
		margin: 20px;
	}

	.css_Boton_Aceptar_box{
		width: 100%;
	}

	.css_Boton_Cancelar_box{
		margin-bottom: 10px;
	}

	.box_crud{
		margin-left: 20px;
	}

	#header .row > ul > li:nth-of-type(3){
		padding: 0px;
	}

	.btn-custom{
		color: #585858;
	}

	.ul_indexclient{
		display: none;
	}

	.p_indexclient{
		width: 100%;
	}

	.div_indexclient{
		border: 0px solid silver;
	}

	.img_indexclient{
	    border-radius: 35px;
	    width: 100%;
	    height: auto;
	    margin-left: 0px;
	}

	.gestion{
	    padding: 10px 15px;
	    margin-left: 0px;
	    width: 100%;
	    margin-top: 20px !important;
	}

	.div_historyclientdos{
	    border-right: 0px;
    	border-left: 0px;
	}

	.css_Div_Text_FotoPerfil{
		width: 100%;
		margin-left: 0px;
	}

}