@import url('https://fonts.googleapis.com/css?family=Roboto');

.contenido {
    /* padding-top: 5%; */
    background-color: white;
    /* margin-top: -3%; */
    padding-left: 1%;
/*    min-height: -webkit-fill-available;*/
    min-height: 100vh;
}

.Negociohh{
color: rgb(25,148,168);
margin-top: -28px;
padding-left: 87%;
}

#divleg{
padding-top: 0.7%;
}

.legendd{
width: 100%;
font-size: 18px;
padding-top: 0%;
font-weight: 100;
border-bottom: 1px solid rgb(25,148,168); 
}

.legendd .neg{
color: rgb(25,148,168);
margin-top: -28px;
padding-left: 87%;
}
.sup{
    padding-left: 3.27%;
}

.nav-tabs li a{
color:rgb(153, 154, 156);
}

/* .nav-tabs li{
	border-top: 1px solid rgb(234, 235, 239);
	border-right:  1px solid rgb(234, 235, 239);
	border-left:  1px solid rgb(234, 235, 239);
} */

.nav-tabs li a:Focus{
color: rgb(25,148,168);
}

#notrans,#noval,#cli{
	text-align: center;
}

#p2, #p4, #p6{
font-size: 94%;
margin-top: -7%;
margin-left: -19%;
width: 340px;
}

#p1 #p3 #p5{
font-size: 80%;
}

#novalrec, #nocliente, #notransaccionh{
color: rgb(114, 114, 119); 
font-size: 50px;
}

.trans{ /*para las pestañas*/
	background-color: white;
	margin-left: 38px;
    /* border: 1px solid #a2a2a2; */
	margin-left: 2.1%;
}

.vall{
	border: none !important;
}

.numbers{
	margin-left: -20%;
    text-align: center;
    margin-top: -11%;
}

#cop{
  color: rgb(226, 36, 28); 
  font-size: 45%;
}

/* #divtable{
  padding-left: 3%; 
  padding-right: 3%;
  padding-bottom: 5%;
} */

.distmap{
	margin-top: 5%;
	margin-bottom: 5%;
}

.nav-tabs>li{
	margin-bottom: 5px;
}

.nav-tabs > li.active > a{
	color: #e2251c !important;
	/*background-color: rgb(232, 234, 236);*/
	background-color: #fff !important;
	border-bottom: 0;
	border: 0;
}

.nav-tabs > li > a{
	background-color: #fff;
	color: #a5a5a5;
}

.nav-tabs > li > a:hover{
	background-color: #e2251c;
	color: #fff;
	border: 1px solid #e9e9e9;
}

.nav-tabs > li.active > a:Hover{
	color: #e2251c !important;
	/*background-color: rgb(232, 234, 236);*/
	background-color: #fff !important;
	border-bottom: 0;
	border: 0;
}

.navv{
	margin-top: 1%;
	margin-left: -1.2%;
}

#tbodyid{
font-size: 77%;
color: rgb(181, 181, 184); 
}

.table > thead > tr > th{
border-bottom: 2px solid #DBE4ED;	
}

#tbodyid th, #tbodyid td{
	border-right: 1px solid #DBE4ED;
	color: #717175;
	text-align: center;
} 

#theadid{
background-color: #f5f6fa;
}

#theadid th, #theadid td{
	border-right: 1px solid #DBE4ED;
	text-align: center;
} 

#divtabledatainte {
    padding-left: 3%;
    padding-right: 34%;
    padding-bottom: 5%;
}

.segselect{
margin-left: 77px;
}

.nav-tabs {
    border-bottom: 0px;
}


.segselect .nav-tabs li{
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.segselect .nav-tabs li:hover {

border-bottom: 1px solid rgb(25,148,168);
}

/* .activesegselect{
border-bottom: 1px solid rgb(25,148,168);
} */


#fechainih{
	font-size: 12px;
}

#fechafinh{
	font-size: 12px;
}

#contenido #notrans div img{	
	width: 32px;
	margin-bottom: 15px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	rotation: 90deg;
}

#p2{
	margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    font-size: 100%;
}

#tbodyid tr td:first-of-type{
	color: #e2251c;
	font-weight: bold;
	background-color: #CCCCCC;
	font-size: 15px;
}

#tbodyid tr td:last-of-type{
	font-size: 15px;
}

#divtabledatainte div b{
	color: #e2251c;
}

#divtabledatainte div input{
	border-radius: 1px;
}

#vr{
	padding: 0px;
}

#cl{
	padding: 0px;
}

.h4_reports{
	padding: 15px;
}

/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 991px){
	.vall{
		margin-left: 0%;
		border: none !important;
	}

	#cop{
		font-size: 60%;
	}

	.numbers{
		margin-left: 0%;
		margin-top: 0%;
	}

	#p2 {
		font-size: 100%;
    	margin-top: 0%;
    	margin-left: 0%;
    	width: 100%;
	}

	.nav>li>a{
		display: contents;
		color: #fff;
	}

	#divtabledatainte{
		padding-left: 0%;
		padding-right: 0%;
		padding-bottom: 0%;
	}
	
	#nt div .row{
		float: none !important;
	}

	#vr div .row{
		float: none !important;
	}

	#cl div .row{
		float: none !important;
	}

	#nt div div div ul li{
		padding: 10px;
    	font-size: 15px;
    	background-color: #e2251c;
    	border-radius: 10px;
	}

	#nt div div div ul li a{
    	color: #fff;
	}

	.nav-tabs>li{
		float: none;
		padding: 10px;
	    font-size: 15px;
	    background-color: #e2251c;
	    border-radius: 10px;
	}

	.nav-tabs{
		float: none !important;
	}

	.nav-tabs > li.active > a:Hover{
		color: #fff !important;
	}

	.trans{
		margin-left: 0px;
	}
}