@import url('https://fonts.googleapis.com/css?family=Roboto');



.contenido{
    background-color: white;
    padding-left: 2.5%;	
}

.legend{
width: 100%;
color: #4d4d4d;
font-size: 18px;
padding-top: 0%;
font-weight: 100;
border-bottom: 1px solid rgb(15, 147, 165);	
}

.negocio{
color: rgb(15, 147, 165);
margin-top: -28px;
padding-left: 87%;	
}

.parFirst{
color: rgb(171, 170, 176);
}

.parSecond{

}

.labell{
width: 18%;
color: #333;
font-size: 15px;
padding-top: 0%;
font-weight: 100;	
}

.address_info{
	width: 21%;
	color: #333;
	font-size: 15px;
	padding-top: 0%;
	font-weight: 100;	
}

.address {
	color: black;
}

label.control-label.labell{
	text-align: left;
}

.inputt{
margin-bottom: 4%;
height: 23px;
border-radius: 10px;
min-height: 35px;
width: 95%;
margin-left: 0;
padding-left: 18px;
padding-left: 18px;
border-top: 2px solid  #bdc3c7   ;
border-left: 2px solid      #bdc3c7  ; 
border-right: 2px solid     #bdc3c7  
}

.inputfile{
height: 23px;
border-radius: 8px;
min-height: 100%;
width: 100%; display: inline-grid;
color: transparent;
border: 0;
margin-left: 38%;
}

.controls{
margin-bottom:3%;	
}

.btnaddress{
border: none;
color: white;
background-color: rgb(0, 94, 174);
padding: 5px 15px;
border-radius: 10px;
min-height: 35px;
/* margin-top: 20%; */
}

.btnenviar{
border: none;
color: white;
background-color: rgb(0, 94, 174);
padding: 8px 5% 8px;
border-radius: 5px;
margin-left: 40%;
margin-top: 5%;
box-shadow: 3px 3px 5px #999;
}

.txtarea{
height: 230px !important;
/* margin-left: 10%;  */
/* margin-top: -4%; */
border-top: 2px solid  #bdc3c7   ;
border-left: 2px solid      #bdc3c7  ; 
border-right: 2px solid     #bdc3c7  ;
border-radius: 10px;
}

.exam{
margin-left: 28%; 	
width: 40%;
}

.msj{
padding-left: 0;
padding-right: 0;
text-align: left;
font-size: 75%;
margin-top: 5px;

}

.lil li{
margin-left: 3%;	
}

.select{
border-color: rgb(171, 170, 176);
color: rgb(171, 170, 176);
background-color: white;	
}

.formm{
margin-left: -9%;	
}

.col-sm-4 , .col-sm-8{
	padding: 0;
}

div.control-group.exam.row{
margin-left: 13%;
padding-right: 39px;

}

ol {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;

}

ol > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-bottom: 2px solid #CCCCCC;
    border-top: 2px solid #CCCCCC;
    background-color: transparent;
}

ol > li:before {
    position: absolute;
    top: 14px;
    left: -45px;
    width: -0.2em;
     
    font-size: 2em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #646465;
 
    content: counter(li-counter);
    counter-increment: li-counter;
    background-color: transparent;
}

/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 991px){
    .labell{
        display: none;
    }

    .inputt{
        width: 100%;
        height: 40px;
        border-radius: 10px;
        margin-left: 0;
        padding-left: 10px; 
    }

    .txtarea{
        width: 100%;
        margin-left: 0%;
        border-radius: 10px;
        margin-top: 0px;
        padding-left: 8px;
    }

    .exam{
        width: 100%;
    }

    .inputfile{
        margin-left: 30%;
    }

    .controls{
        text-align: center;
    }

    .btnenviar{
        margin-left: 0px;
    }

    .btnaddress{
        width: 100%;
        border-radius: 10px;
        margin-top: 0%;
        padding: 12px 20% 12px;
    }
}